@import '../config/mixins';

.alta-casos {
  background: $backgroundDefault;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    width: 100vw;
    min-height: calc(100vh - 90px);
    max-width: unset;
    min-height: unset;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  h1 {
    text-align: left;
    font: Bold 30px/40px $primaryFont;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #515c6f;
    margin: unset;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 600px;
    @include style-as-box;

    @include mobile {
      width: calc(100% - 40px);
      height: calc(100% - 90px);
      overflow-y: scroll;
      padding-top: 10px;
      margin-top: 50px;
    }

    &__inputs {
      width: 822px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      @include mobile {
        flex-direction: column;
        width: 100%;
        flex-wrap: nowrap;
        overflow: scroll;
        overflow-x: hidden;
        padding-top: 10px;
      }

      &__wrapper {
        @include btn-standard;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 287px;
        height: 59px;
        border-radius: 10px;
        margin-bottom: 22px;
        padding: 0 50px;

        &:nth-child(9),
        &:nth-child(10) {
          margin-bottom: unset;
        }

        @include mobile {
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 0;
        }

        label {
          font: lighter 16px $primaryFont;
          letter-spacing: 0.84px;
          color: #515c6f;
          opacity: 0.7;
          text-transform: uppercase;
          margin-right: 10px;

          @include mobile {
            width: 100%;
            text-align: left;
            padding-left: 46px;
            margin-right: unset;
          }
        }

        &__input {
          @include btn-standard;
          cursor: text;
          width: calc(100% - 50px);
          text-align: left;
          font-size: 16px;
          font-weight: Medium;
          letter-spacing: 0px;
          color: #515c6f;
          border-bottom: 1px solid #515c6f4b;

          &:focus {
            border-bottom: 1px solid $btnPrimaryColor;
          }
        }
      }

      .select {
        width: 287px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        font-size: 16px;
        text-align: center;

        @include mobile {
          width: 100%;
          text-align: left;
          margin-left: -24px;
          margin-right: unset;
        }

        option {
          padding-left: 15px;
        }
      }
    }

    button {
      @include btn-standard;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 23px;
      text-align: center;
      font-weight: Bold;
      font-size: 12px;
      letter-spacing: 0.72px;
      color: #ffffff;
      font-family: $primaryFont, Roboto, sans-serif;
      text-transform: uppercase;
      right: 20px;
      text-decoration: none;
      width: 392px;
      height: 46px;
      background: #4791ff 0% 0% no-repeat padding-box;
      box-shadow: 0px 5px 10px #4791ff65;

      @include mobile {
        display: flex;
        flex-shrink: 0;
        width: 100%;
        border-radius: 0;
      }
    }
  }
}
