@import '../config/mixins';

.dashboard {
  display: flex;
  flex-direction: column;
  max-width: calc(100vw - 90px);
  min-height: calc(100vh - 90px);
  align-items: center;
  padding: 45px;
  font-family: $primaryFont;

  @include mobile {
    width: 100vw;
    min-height: calc(100vh - 90px);
    max-width: unset;
    min-height: unset;
    padding: 45px 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .cantidades {
    margin-top: 15px;

    @include mobile {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      height: 140px;
    }
  }

  &__middle {
    display: flex;
    width: 1000px;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 15px;

    @include mobile {
      flex-direction: column;
      align-items: center;
      width: calc(100% - 40px);
    }
  }

  &__chart {
    @include style-as-box;
    display: flex;
    width: 970px;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;
    padding: 15px;

    @include mobile {
      width: calc(100% - 80px);
      overflow: hidden;

      div {
        width: 470px !important;
      }
    }
  }
}
